.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.false {
	width: 50% !important;
}

.true {
	width: 50% !important;
}

.content {
	background-color: var(--white);
	padding: 5rem;
}

.squareButton {
	position: absolute;
	right: 10rem;
}
