.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.false {
	/* background-color: aqua !important; */
	width: 50% !important;
}

.true {
	/* background-color: violet !important; */
	width: 50% !important;
}
