:root {
	--darkGray: #222222;
	--lightGray: #2C2C2C;
	--lightestGray: rgba(255, 255, 255, 0.5);
	--red: #E31C25;
	--darkRed: #BB000E;
	--white: #FFFFFF;
}

html {
	font-size: 62.5%;
}

body {
	background-color: var(--lightGray);
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
}

p {
	font-size: 1.6rem;
}

h1 {
	font-size: 2.2rem;
}

h2 {
	font-size: 2rem;
}
