/* Header */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--darkGray);
	color: var(--white);
	margin: 0 auto;
	padding: 1rem 5rem;
}

nav div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

nav div p {
	margin: 0 1rem;
}

nav div span {
	color: var(--red);
}

nav div img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 10px;
	border: 3px solid var(--red);
}

/* Sidebar */

.sidebar {
	display: inline-block;
	background-color: var(--darkRed);
	width: 5rem;
	height: 100vh;
	padding-top: 2rem;
}

.sidebar:hover {
	width: 25rem;
}

.sidebar ul {
	list-style: none;
	padding: 0;
}

.sidebar-item, .active-item {
	color: var(--white);
	display: flex;
	align-items: center;
	text-decoration: none;
	visibility: hidden;
}

.active-item {
	background-color: var(--red);
}

.sidebar-item:hover {
	background-color: var(--red);
}

.active-item .mainIcon {
	background-color: var(--red);
}

.mainIcon {
	visibility: visible;
	padding: 1.5rem;
}

.arrowIcon {
	padding: 1.5rem;
	height: 2rem;
	position: relative;
	left: -1.5rem;
}

.sidebar:hover .sidebar-item, .sidebar:hover .active-item {
	visibility: visible;
}

.sidebar-item h2, .active-item h2 {
	padding: 0 2rem;
}

/* Activities List */

.activities {
	background-color: var(--lightGray);
	margin: 2rem 0.5rem;
	padding: 1rem;
	visibility: hidden;
}

.activities h1 {
	color: var(--white);
	border-bottom: 0.25rem solid var(--white);
	text-align: center;
}

.sidebar:hover .activities {
	visibility: visible;
}
